{% extends "base.html" %}
	{% block titulo %} Farmacia Veterinaria {% endblock %}
	
	{% block contenido %}
		<header>
			<nav>
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="comprar.html">Comprar Ahora</a></li>
					<li><a href="login.html">Iniciar Sesion</a></li>
				</ul>
			</nav>
		</header>
		<div>
			<h1>Farmacia Veterinaria ULagos</h1>
			<p>En esta farmacia veterinaria vendemos las mejores drogas digo medicamentos para animales que probablemente morirán pero al menos con estos medicamentos no será doloroso(esperamos).</p>
			<p>Ofrecemos una variedad de medicamentos de dudos procedencia a un precio dudosamente barato.</p>
			
		</div>
		
	{% endblock %}