{% extends "base.html" %}
	{% block titulo %} Farmacia Veterinaria {% endblock %}
	
	{% block contenido %}
		<div>
			<h1>Farmacia Veterinaria ULagos</h1>
			<p>En esta farmacia veterinaria vendemos las mejores drogas digo medicamentos para animales que probablemente morirán pero al menos con estos medicamentos no será doloroso(esperamos).</p>
			<p>Ofrecemos una variedad de medicamentos de dudos procedencia a un precio dudosamente barato.</p>
			<form method = "post">
				<button type="button">  Comprar Ahora</button>
			</form>
		</div>
		<form method = "post">
			<input type="button" value="Soy Admin">
		</form>
		
	{% endblock %}