{% extends "base.html" %}
	{% block titulo %} Inicio {% endblock %}
	
	{% block contenido %}
		<div>
			<h1>Farmacia Veterinaria ULagos</h1>
		</div>
		<article>
			<section>
				<p>En esta farmacia veterinaria vendemos las mejores drogas digo medicamentos para animales que probablemente morirán pero al menos con estos medicamentos no será doloroso(esperamos).
					Ofrecemos una variedad de medicamentos de dudos procedencia a un precio dudosamente barato.
				</p>
			</section>
			<section>
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ratione neque debitis, eveniet distinctio temporibus odio officiis eos sint, in tempora aspernatur voluptates maxime corrupti harum omnis magnam pariatur dolorem.
				</p>
			</section>
		</article>
		<aside>
			<h2>Veterinarias que nos recomiendan</h2>
			<ul>
				<li>Veterinaria ULagos</li>
				<li>Veterinaria Generica</li>
				<li>Veterinaria de Kemchi</li>
			</ul>
			<h2>Otras instituciones que asociadas</h2>
			<ul>
				<li>Clínica Veterinaria ULagos</li>
				<li>Laboratorio Veterinario ULagos</li>
				<li>Tienda de artículos para mascotas ULagos</li>
				<li>Hotel de Mascotas ULagos</li>
			</ul>
		</aside>
	{% endblock %}